.list {
  list-style-type: none;
  display: flex;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding: 10px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  list-style-type: none;
}

li {
  padding: 10px;
}

li a {
  color: black;
  text-decoration: none;
}


.get-in-touch1 {
  color: white;
  font-size: 16px;
  background-color: #dab442;
  border: none;
  border-radius: 100px;
  width: 120px;
  height: 35px;
  color: white;
  text-decoration: none;
}





#avatar {
  display: block;
  float: right;
  position: relative;
  top: -150px;
  left: -55px;
  padding: 50px;
  z-index: 0;
}




.name {
  font-family: "Megrim", sans-serif;
  font-size: 92px;
  margin: 100px;
  position: relative;
  top: 100px;
}

.description {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  margin: 100px;
  text-align: center;
  position: relative;
  top: 80px;
}



#bee {
  display: block;
  margin: auto;
  position: relative;
  top: 50px;
}



.download {
  width: 300px;
  height: 35px;
  display: block;
  margin: auto;
  position: relative;
  top: 50px;
  background-color: #dab442;
  border-radius: 100px;
  border: none;

  color: white;
  font-size: 16px;
}

.download a {
  text-decoration: none;
  color: white;
}





footer {
  background-color: #535353;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.list2 {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.bottom a {
  color: white;
}

.get-in-touch {
  color: white;
  font-size: 16px;
  background-color: #dab442;
  border: none;
  border-radius: 100px;
  width: 120px;
  height: 35px;
  color: white;
  text-decoration: none;
}